/NetBeansProjects/MembershipORM/nbproject/private/
/NetBeansProjects/MembershipORM/build/
/NetBeansProjects/StudentManagement/nbproject/private/
/NetBeansProjects/StudentManagement/build/
/NetBeansProjects/jfc-mvc/nbproject/private/
/NetBeansProjects/jfc-mvc/build/
